#projects {
  padding: 50px;
  color: #E0FFFF;
}

#projects h1 {
  text-align: left;
  margin-bottom: 2rem; /* Add some space below the header */
}

/* Assuming ProjectCard has its own internal padding and margins */

@media only screen and (max-width: 768px) {
  #projects {
    padding: 50px 10px;
  }
  
  .projects-container {
    gap: 20px; /* Smaller gap for smaller screens */
  }

  #projects h1 {
    font-size: 1.5rem; /* Slightly larger font size for readability */
    padding: 20px;
  }
}